# x86_64 specific makefile config

ARCH_C_OBJS:=\
arch/x86_64/boot/kinit.o \
arch/x86_64/port_io.o \
arch/x86_64/serial.o \
arch/x86_64/cpu/idt.o \
arch/x86_64/cpu/gdt.o \
arch/x86_64/vmm.o

ARCH_ASM_OBJS:=\
arch/x86_64/boot/multiboot2/entry.o \
arch/x86_64/cpu/cpu.o

ARCH_OBJS:=$(ARCH_ASM_OBJS) $(ARCH_C_OBJS)
ARCH_LDSCRIPT:=arch/x86_64/linker.ld
ARCH_LDFLAGS:=
ARCH_LIBS:=
ARCH_CRTI_OBJ:=arch/x86_64/crt/crti.o
ARCH_CRTN_OBJ:=arch/x86_64/crt/crtn.o

ARCH_CFLAGS:=-mno-red-zone -mno-mmx -mno-sse -mno-sse2 -masm=intel -mcmodel=kernel

%.o: %.asm
	@echo "  AS $<"
	@nasm -felf64 -o $@ $<
